Get the content which is related to following keyword "{{ keyword }}" for LLM context.
Context will be provided by function call and from provided context analyze it and list out the {{ keyword }}




